.header {
  margin-left: 50px;
}
.nav p {
  margin: 20px 20px 0 20px;
}
.nav img {
  width: 25px;
  height: 25px;
}
.nav-center {
  margin-right: 200px;
}
.nav div {
  display: inline;
  width: 600px;
  height: 50px;
  font-size: 16px;
}
.logo {
  margin-right: 500px;
}
.input {
  border-radius: 20px;
  display: grid;
  width: 100px;
}
.input input {
  border: none;
}
.input button {
  height: 40px;
  width: 100px;
}
.greeting {
  width: 400px;
  margin-left: 50px;
}
.greeting p {
  font-weight: bold;
}
.group-name {
  display: flex;
}
#name {
  margin-right: 10px;
}
#year {
  background: black;
  color: white;
}
#title {
  font-size: 40px;
}
.greeting button {
  width: 250px;
  height: 30px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.search-bar {
  display: flex;
  margin: 50px 300px;
}
.language {
  width: 20px;
  height: 20px;
  margin: 20px 20px 0 20px;
}
#user {
  margin: 20px 20px 0 10px;
}
