@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
    width: 100%;
}

a,
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}

#root {
    width: 100%;
}