.experience{
    margin-left: 50px;
}
.experience p{
    font-size: 25px
}
.experience div{
    display: inline-block;
}
.news{
    width: 450px;
    height:450px
}
.news img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.news h1 {
    font-size: 15px;
}
.news p{
    font-size:15px;
    margin-top:5px
}